
# Grafana observability stack
enable_loki       = true
enable_tempo      = true
enable_prometheus = true
enable_grafana    = true

# New Relic observability stack
enable_new_relic = true
newrelic_license_key = ""
