# Cluster
cluster = "k3d"

log_level = "INFO"
traefik_license = ""
enable_api_gateway = false
enable_api_management = false

# Grafana observability stack
enable_loki       = true
enable_tempo      = true
enable_prometheus = true
enable_grafana    = true

# New Relic observability stack
enable_new_relic = true
newrelic_license_key = ""

# Security modules
enable_entraid = true
enable_keycloak = true