provider "azurerm" {
  features {}
  subscription_id = var.azure_subscription_id
}

module "aks" {
  source = "./modules/clusters/aks"

  providers = {
    azurerm = azurerm
  }

  azure_subscription_id = var.azure_subscription_id

  count = var.cluster == "aks" ? 1 : 0
}

module "security-entraid" {
  source = "./modules/security/entraid"

  providers = {
    azurerm = azurerm
    azuread = azuread
  }

  users = var.users

  count = var.enable_entraid ? 1 : 0
}

output "tenant_id" {
  sensitive = true
  description = "The tenant ID of the Azure AD directory"
  value       = var.enable_entraid ? module.security-entraid[0].tenant_id : null
}

output "client_id" {
  sensitive   = true
  description = "The client ID for the application"
  value       = var.enable_entraid ? module.security-entraid[0].client_id : null
}

output "client_secret" {
  sensitive   = true
  description = "The client secret for the application"
  value       = var.enable_entraid ? module.security-entraid[0].client_secret : null
}

output "users" {
  description = "List of users created in the security module"
  value       = var.enable_entraid ? module.security-entraid[0].users : []
}