variable "subscription_id" {
  type        = string
  description = "Azure subscription ID to use for the deployment"
}

module "azure" {
  source = "git::https://github.com/traefik-workshops/traefik-terraform-azure-module//?ref=main"

  subscription_id = var.subscription_id
}

provider "helm" {
  kubernetes {
    host                   = module.azure.kube_config.host
    client_certificate     = base64decode(module.azure.kube_config.client_certificate)
    client_key             = base64decode(module.azure.kube_config.client_key)
    cluster_ca_certificate = base64decode(module.azure.kube_config.cluster_ca_certificate)
  }
}

provider "kubernetes" {
  host                   = module.azure.kube_config.host
  client_certificate     = base64decode(module.azure.kube_config.client_certificate)
  client_key             = base64decode(module.azure.kube_config.client_key)
  cluster_ca_certificate = base64decode(module.azure.kube_config.cluster_ca_certificate)
}

provider "argocd" {
  port_forward = true
  
  username = "admin"
  password = local.password
  
  kubernetes {
    host                   = module.azure.kube_config.host
    client_certificate     = base64decode(module.azure.kube_config.client_certificate)
    client_key             = base64decode(module.azure.kube_config.client_key)
    cluster_ca_certificate = base64decode(module.azure.kube_config.cluster_ca_certificate)
  }
}

output "resource_group_name" {
  description = "Resource group name"
  value = module.azure.resource_group_name
}

output "cluster_name" {
  description = "Cluster name"
  value = module.azure.cluster_name
}